.shepherd-button {
	font-family: "Orbitron", sans-serif;
	font-size: var(--12px);
	font-weight: 700;
	letter-spacing: 1px;
	background: var(--color-yellow);
	border-radius: 4px;
	color: var(--color-purple-dark);
	cursor: url("/src/svg/cursor-pointer.svg") 12.5 12.5, auto;
	margin-right: 0.5rem;
	padding: 0.5rem 1rem;
	/* transition: all 0.5s cubic-bezier(0.47, 0, 0.05, 1); */
}
.shepherd-button:not(:disabled):hover {
	background: var(--color-white);
}
.shepherd-button.shepherd-button-secondary {
	background: #f1f2f3;
	color: rgba(0, 0, 0, 0.75);
}
.shepherd-button.shepherd-button-secondary:not(:disabled):hover {
	background: #d6d9db;
	color: rgba(0, 0, 0, 0.75);
}
.shepherd-button:disabled {
	cursor: not-allowed;
}
.shepherd-footer {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	justify-content: flex-end;
	padding: 0 0.75rem 0.75rem;
}
.shepherd-footer .shepherd-button:last-child {
	margin-right: 0;
}
.shepherd-cancel-icon {
	background-color: var(--color-purple-dark);
	border: 1px solid var(--color-purple-light);
	color: var(--color-yellow);
	border-radius: 50%;
	width: 21px;
	height: 21px;
	cursor: url("/src/svg/cursor-pointer.svg") 12.5 12.5, auto;
	margin: 0;
	padding: 0;
	transition: color 0.5s ease;
}
.shepherd-cancel-icon span {
	position: absolute;
	font-size: 1.4em;
	/* left: 0; */
	transform: translate(-50%, -50%);
}
.shepherd-cancel-icon:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
	color: hsla(0, 0%, 50%, 0.75);
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
	color: rgba(0, 0, 0, 0.75);
}
.shepherd-title {
	color: rgba(0, 0, 0, 0.75);
	display: flex;
	flex: 1 0 auto;
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.shepherd-header {
	align-items: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
	justify-content: flex-end;
	line-height: 2em;
	padding: 0.75rem 0.75rem 0;
}
.shepherd-has-title .shepherd-content .shepherd-header {
	background: #e6e6e6;
	padding: 1em;
}
.shepherd-text {
	color: var(--color-yellow);
	font-size: var(--12px);
	font-weight: 400;
	letter-spacing: 2px;
	padding: 0px 20px 10px 20px;
}
.shepherd-text p {
	margin-top: 0;
}
.shepherd-text p:last-child {
	margin-bottom: 0;
}
.shepherd-content {
	border-radius: 4px;
	outline: none;
	padding: 0;
}
.shepherd-element {
	background: rgba(22, 27, 118, 1);
	background: linear-gradient(
		0deg,
		rgba(20, 20, 49, 0.8) 0%,
		rgba(19, 25, 121, 0.8) 100%
	);
	border: 1px solid var(--color-purple-light);
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	max-width: 400px;
	opacity: 0;
	outline: none;
	transition: opacity 0.3s, visibility 0.3s;
	visibility: hidden;
	width: 100%;
	z-index: 9999;
}
.shepherd-enabled.shepherd-element {
	opacity: 1;
	visibility: visible;
}
.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered) {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.shepherd-element,
.shepherd-element *,
.shepherd-element :after,
.shepherd-element :before {
	box-sizing: border-box;
}
.shepherd-arrow,
.shepherd-arrow:before {
	height: 16px;
	position: absolute;
	width: 16px;
	z-index: -1;
}
.shepherd-arrow:before {
	background: rgb(16, 19, 86);
	content: "";
	border-top: 1px solid var(--color-purple-light);
	border-left: 1px solid var(--color-purple-light);
}
.shepherd-element[data-popper-placement^="top"] > .shepherd-arrow {
	bottom: -8px;
	transform: rotate(222deg);
}
.shepherd-element[data-popper-placement^="bottom"] > .shepherd-arrow {
	top: -8px;
	transform: rotate(45deg);
}
.shepherd-element[data-popper-placement^="left"] > .shepherd-arrow {
	right: -8px;
	transform: rotate(135deg);
}
.shepherd-element[data-popper-placement^="right"] > .shepherd-arrow {
	left: -8px;
	transform: rotate(-45deg);
}
.shepherd-element.shepherd-centered > .shepherd-arrow {
	opacity: 0;
}
.shepherd-element.shepherd-has-title[data-popper-placement^="bottom"]
	> .shepherd-arrow:before {
	background-color: #e6e6e6;
}
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
	pointer-events: none;
}
.shepherd-modal-overlay-container {
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: all 0.3s ease-out, height 0ms 0.3s, opacity 0.3s 0ms;
	width: 100vw;
	z-index: 9997;
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible {
	height: 100vh;
	opacity: 0.5;
	transform: translateZ(0);
	transition: all 0.3s ease-out, height 0s 0s, opacity 0.3s 0s;
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
	pointer-events: all;
}
